* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0b0b0b;
  color: #fff;
  margin: 0;
}

header {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
    url("https://images.unsplash.com/photo-1503376780353-7e6692767b70")
    center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 80px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
}



nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  text-align: center;
  margin-bottom: 120px;
}

section {
  padding: 80px 40px;
  max-width: 1200px;
  margin: auto;
}

.models {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.card {
  background: #111;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.model-header {
  height: 60vh;
  background-size: cover;
  background-position: center;
}

.model-info h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.specs {
  margin-top: 20px;
  list-style: none;
}

.specs li {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 25px;
  color: #aaa;
}

nav {
  display: flex;
  justify-content: flex-end; /* перемещает всё вправо */
  gap: 10px; /* расстояние между кнопками */
  padding: 10px 20px;
}

nav a {
    margin: 5px;
}

.nav-buttons { 
  margin: 20px 0;
}
